---
# Only the main Sass file needs front matter (the dashes are enough)
---

$title: 'Orbitron', sans-serif;
$global-font-family : 'Spinnaker', sans-serif;
$header-font-family : 'Jura', sans-serif;

@charset "utf-8";

// @sass-lint: disable
// @disable-check: deprecations
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

@import url('https://fonts.googleapis.com/css?family=Orbitron|Jura:300,600|Spinnaker');

.highlight {
   font-size: 0.9em;
}

.masthead {
  /* background-color: #546B83; */
  background-color: darken($background-color, 4%);
  .site-title {
    font-family: 'Orbitron', sans-serif;
    /* color: #C8DCF0; */
    /* text-shadow: 2px 2px #213E5C; */
    color: lighten($primary-color, 5%);
    text-shadow: 2px 2px darken($primary-color, 20%);
  }
}

.greedy-nav {
  background-color: inherit;
}

.author__avatar {
  img {
    border-radius: 10%;
  }
}

.archive__item-title {
  font-family: 'Jura', sans-serif;
  text-shadow: 1px 1px #011E3C;
  font-size: 1.12em;
  padding-bottom: 4px;

  .u-url {
    text-decoration: none;
  }
}

.archive__item-teaser {
  background-color: #A4BBD3;
}
